---
layout: default
title: Vroozi Admin
---

<!-- PROJECT HEADER -->
<header class="hero hero--color u-brand-primary">
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="header-group">
          <h1 class="header-text--primary">Vroozi Admin 2.0</h1>
        </div>

        <p class="body-copy has-left-pipe">
           The Vroozi platform is a series of related but independent modules to help companies control and manage their spend. From creating a requisition for new goods or services, to sending purchase orders, to receiving those orders and processing the invoices to pay for them, Vroozi does it all. But as these modules were developed over time by engineers all over the globe, we never had a consistent design approach which left our Admin panel feeling more like a catch-all than a command center. 
        </p>
      </div>
    </div>
  </div>
</header>

<!-- PROJECT OVERVIEW -->
<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-primary"></div>

  <div class="container">
    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">

        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--offers-1.png" alt=""></div>
          <div><img src="/../../assets/img--offers-2.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>Process & Findings (so far)</b>
          <p class="body-copy">
            The administrator panel gives customers full access into all of their purchased Vroozi modules. It had truly become a dumping ground and catch-all for all new features with little regard to how they actually fit into our overall ecosystem.
          </p>
          <p class="body-copy">
            I’m leading the effort to systematize our design from the core out. Starting with the bare bones information architecture of how our modules and their functionality fit together and ending with full-fledged visual design created to lock in a consistent look and feel for the Vroozi brand.
          </p>
          <p class="body-copy">
            Since this project is touching literally every piece of UI within the platform, I started by creating a proof of concept with enough pages covered to get buy-in from our executive team. Now that I’ve gotten that buy-in I’m working with the product team to go through section by section to ensure we leave no stone unturned while bringing the Vroozi admin experience from being a catch-all to being a command center.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>