/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
    #Reset & Basics
    #Basic Styles
    #Site Styles
    #Typography
    #Links
    #Lists
    #Images
    #Buttons
    #Forms
    #Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/21px "Century", "Century", Times, serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

.subheader {
  color: #777; }

p {
  margin: 0 0 20px 0; }

p img {
  margin: 0; }

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  color: #333; }

small {
  font-size: 80%; }

/*  Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* #Links
================================================== */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

p a, p a:visited {
  line-height: inherit; }

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 20px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Buttons
================================================== */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eee;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #eee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #ddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: #ccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */ }

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* #Forms
================================================== */
form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea {
  min-height: 60px; }

label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px; }

select {
  width: 220px; }

input[type="checkbox"] {
  display: inline; }

label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 10px !important; }

.add-bottom {
  margin-bottom: 20px !important; }

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.row {
  margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
.container .one.column, .container .one.columns {
  width: 40px; }

.container .two.columns {
  width: 100px; }

.container .three.columns {
  width: 160px; }

.container .four.columns {
  width: 220px; }

.container .five.columns {
  width: 280px; }

.container .six.columns {
  width: 340px; }

.container .seven.columns {
  width: 400px; }

.container .eight.columns {
  width: 460px; }

.container .nine.columns {
  width: 520px; }

.container .ten.columns {
  width: 580px; }

.container .eleven.columns {
  width: 640px; }

.container .twelve.columns {
  width: 700px; }

.container .thirteen.columns {
  width: 760px; }

.container .fourteen.columns {
  width: 820px; }

.container .fifteen.columns {
  width: 880px; }

.container .sixteen.columns {
  width: 940px; }

.container .one-third.column {
  width: 300px; }

.container .two-thirds.column {
  width: 620px; }

/* Offsets */
.container .offset-by-one {
  padding-left: 60px; }

.container .offset-by-two {
  padding-left: 120px; }

.container .offset-by-three {
  padding-left: 180px; }

.container .offset-by-four {
  padding-left: 240px; }

.container .offset-by-five {
  padding-left: 300px; }

.container .offset-by-six {
  padding-left: 360px; }

.container .offset-by-seven {
  padding-left: 420px; }

.container .offset-by-eight {
  padding-left: 480px; }

.container .offset-by-nine {
  padding-left: 540px; }

.container .offset-by-ten {
  padding-left: 600px; }

.container .offset-by-eleven {
  padding-left: 660px; }

.container .offset-by-twelve {
  padding-left: 720px; }

.container .offset-by-thirteen {
  padding-left: 780px; }

.container .offset-by-fourteen {
  padding-left: 840px; }

.container .offset-by-fifteen {
  padding-left: 900px; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 0px) and (max-width: 959px) {
  /* Offsets */
  .container {
    width: 768px; }
  .container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px; }
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }
  .container .one.column, .container .one.columns {
    width: 28px; }
  .container .two.columns {
    width: 76px; }
  .container .three.columns {
    width: 124px; }
  .container .four.columns {
    width: 172px; }
  .container .five.columns {
    width: 220px; }
  .container .six.columns {
    width: 268px; }
  .container .seven.columns {
    width: 316px; }
  .container .eight.columns {
    width: 364px; }
  .container .nine.columns {
    width: 412px; }
  .container .ten.columns {
    width: 460px; }
  .container .eleven.columns {
    width: 508px; }
  .container .twelve.columns {
    width: 556px; }
  .container .thirteen.columns {
    width: 604px; }
  .container .fourteen.columns {
    width: 652px; }
  .container .fifteen.columns {
    width: 700px; }
  .container .sixteen.columns {
    width: 748px; }
  .container .one-third.column {
    width: 236px; }
  .container .two-thirds.column {
    width: 492px; }
  .container .offset-by-one {
    padding-left: 48px; }
  .container .offset-by-two {
    padding-left: 96px; }
  .container .offset-by-three {
    padding-left: 144px; }
  .container .offset-by-four {
    padding-left: 192px; }
  .container .offset-by-five {
    padding-left: 240px; }
  .container .offset-by-six {
    padding-left: 288px; }
  .container .offset-by-seven {
    padding-left: 336px; }
  .container .offset-by-eight {
    padding-left: 384px; }
  .container .offset-by-nine {
    padding-left: 432px; }
  .container .offset-by-ten {
    padding-left: 480px; }
  .container .offset-by-eleven {
    padding-left: 528px; }
  .container .offset-by-twelve {
    padding-left: 576px; }
  .container .offset-by-thirteen {
    padding-left: 624px; }
  .container .offset-by-fourteen {
    padding-left: 672px; }
  .container .offset-by-fifteen {
    padding-left: 720px; } }

/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
/*    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }*/
/* Offsets */
/*        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
    }*/
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
/*   @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }
*/
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* FOUNDATION ORBIT SLIDER */
meta.foundation-version {
  font-family: "/5.2.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* Orbit Graceful Loading */
.slideshow-wrapper {
  position: relative; }

.slideshow-wrapper ul {
  list-style-type: none;
  margin: 0; }

.slideshow-wrapper ul li, .slideshow-wrapper ul li .orbit-caption {
  display: none; }

.slideshow-wrapper ul li:first-child {
  display: block; }

.slideshow-wrapper .orbit-container {
  background-color: transparent; }

.slideshow-wrapper .orbit-container li {
  display: block; }

.slideshow-wrapper .orbit-container li .orbit-caption {
  display: block; }

.preloader {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border: solid 3px;
  border-color: #555555 white;
  border-radius: 1000px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotate;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.orbit-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  background: none; }

.orbit-container .orbit-slides-container {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform: translateZ(0); }

.orbit-container .orbit-slides-container img {
  display: block;
  max-width: 100%; }

.orbit-container .orbit-slides-container.fade > * {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0.01;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }

.orbit-container .orbit-slides-container.fade > *.animate-in {
  opacity: 1;
  z-index: 20;
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out; }

.orbit-container .orbit-slides-container.fade > *.animate-out {
  opacity: 0.01;
  z-index: 10;
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out; }

.orbit-container .orbit-slides-container.swipe-next > * {
  -webkit-transform: translate3d(100%, 0, 0); }

.orbit-container .orbit-slides-container.swipe-next > *.animate-in {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 500ms; }

.orbit-container .orbit-slides-container.swipe-next > *.animate-out {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition-duration: 500ms; }

.orbit-container .orbit-slides-container.swipe-prev > * {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.orbit-container .orbit-slides-container.swipe-prev > *.animate-in {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 500ms; }

.orbit-container .orbit-slides-container.swipe-prev > *.animate-out {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition-duration: 500ms; }

.orbit-container .orbit-slides-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.orbit-container .orbit-slides-container > *.active {
  opacity: 1;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.orbit-container .orbit-slides-container > * .orbit-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  width: 100%;
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem; }

.orbit-container .orbit-slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0);
  z-index: 10; }

.orbit-container .orbit-slide-number span {
  font-weight: 700;
  padding: 0.3125rem; }

.orbit-container .orbit-timer {
  position: absolute;
  top: 12px;
  right: 10px;
  height: 6px;
  width: 100px;
  z-index: 10; }

.orbit-container .orbit-timer .orbit-progress {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 0%;
  position: relative;
  right: 20px;
  top: 5px; }

.orbit-container .orbit-timer > span {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 11px;
  height: 14px;
  border: solid 4px white;
  border-top: none;
  border-bottom: none; }

.orbit-container .orbit-timer.paused > span {
  right: -4px;
  top: 0px;
  width: 11px;
  height: 14px;
  border: inset 8px;
  border-right-style: solid;
  border-color: transparent transparent transparent white; }

.orbit-container .orbit-timer.paused > span.dark {
  border-color: transparent transparent transparent #333333; }

.orbit-container:hover .orbit-timer > span {
  display: block; }

.orbit-container .orbit-prev, .orbit-container .orbit-next {
  position: absolute;
  top: 45%;
  margin-top: -25px;
  width: 36px;
  height: 60px;
  line-height: 50px;
  color: white;
  background-color: none;
  text-indent: -9999px !important;
  z-index: 10; }

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: block;
  width: 0;
  height: 0;
  border: inset 10px; }

.orbit-container .orbit-prev {
  left: 0; }

.orbit-container .orbit-prev > span {
  border-right-style: solid;
  border-color: transparent;
  border-right-color: white; }

.orbit-container .orbit-prev:hover > span {
  border-right-color: white; }

.orbit-container .orbit-next {
  right: 0; }

.orbit-container .orbit-next > span {
  border-color: transparent;
  border-left-style: solid;
  border-left-color: white;
  left: 50%;
  margin-left: -4px; }

.orbit-container .orbit-next:hover > span {
  border-left-color: white; }

.orbit-bullets-container {
  text-align: center; }

.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: 10px;
  float: none;
  text-align: center;
  display: block; }

.orbit-bullets li {
  display: inline-block;
  width: 0.5625rem;
  height: 0.5625rem;
  background: #cccccc;
  float: none;
  margin-right: 6px;
  border-radius: 1000px; }

.orbit-bullets li.active {
  background: #999999; }

.orbit-bullets li:last-child {
  margin-right: 0; }

.touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {
  display: none; }

.touch .orbit-bullets {
  display: none; }

@media only screen and (min-width: 40.063em) {
  .touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {
    display: inherit; }
  .touch .orbit-bullets {
    display: block; } }

@media only screen and (max-width: 40em) {
  .orbit-stack-on-small .orbit-slides-container {
    height: auto !important; }
  .orbit-stack-on-small .orbit-slides-container > * {
    position: relative;
    margin-left: 0% !important; }
  .orbit-stack-on-small .orbit-timer, .orbit-stack-on-small .orbit-next, .orbit-stack-on-small .orbit-prev, .orbit-stack-on-small .orbit-bullets {
    display: none; } }

body {
  background-image: url('../assets/background_pattern.png'); }

.main {
  padding-top: 50px;
  padding-bottom: 50px; }

/*Padding for Scrolling*/
#about_positioning {
  padding-top: 60px; }

#experience_positioning {
  padding-top: 20px; }

#projects_positioning {
  padding-top: 15px; }

#education_positioning .divider {
  margin-bottom: 100px; }

/* FONTS */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline; }

p, ul, li, h4, figcaption {
  font-family: 'Century'; }

.sub_head {
  color: #71C6CD;
  font-weight: bold; }

/* PICTURES */
.picture {
  padding-top: 8px; }

.picture img {
  border-radius: 10px; }

figcaption {
  text-align: center; }

/* TOP BAR, BOTTOM BAR, LAST DIVIDER */
.nav_bar {
  background: #EFEFEF;
  height: 40px;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 1; }

.nav_bar h3 {
  margin-left: 10px; }

.nav_bar.bottom {
  bottom: 0;
  position: fixed; }

/* MENU ITEMS IN TOP BAR */
.menu {
  float: right;
  margin-top: -25px;
  position: absolute;
  right: 0; }

.menu li {
  display: inline;
  margin-right: 25px; }

.menu li a:hover {
  color: #71C6CD; }

.menu a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* HEADER */
#header {
  margin-top: 85px;
  margin-bottom: 30px;
  text-align: center; }

#header h1 {
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 50px; }

#header h5 {
  font-family: 'Century';
  padding-bottom: 30px;
  margin-right: -90px;
  margin-top: -10px; }

/* ABOUT ME */
.about {
  display: inline;
  padding-top: 30px; }

.about.answer1 {
  margin-left: 56px; }

.about.answer2 {
  margin-left: 72px; }

.about.answer3 {
  margin-left: 60px; }

.about.answer4 {
  margin-left: 65px; }

.project_link a {
  color: white;
  float: right;
  margin-right: 25px; }

/* SKILLS */
.skills_list li {
  margin-bottom: 2px; }

.skills_list div {
  height: 10px;
  background: #71C6CD;
  display: inline-block; }

/* FIND ME */
.icons {
  width: 12%;
  float: right; }

.icons.find {
  width: 8%;
  float: none;
  margin-bottom: -5px; }

.contact_info {
  display: inline;
  margin-left: 25px; }

/* EXPERIENCE DETAILS */
.resume p {
  margin-bottom: 0; }

.resume ul {
  margin-top: 10px; }

.resume li {
  margin-bottom: 8px; }

.resume hr {
  margin-bottom: 10px; }

#sub_list {
  font-size: 95%; }
