---
layout: default
title: Walmart Cash
---

<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-dark-green"></div>
  
  <div class="container">
    <!-- PROJECT OVERVIEW -->
    <div class="row u-rhythm-btm">
      <section class="project-overview twelve columns">
        <div class="header-group">
          <h1 class="header-text">Walmart Cash Pickup</h1>
        </div>
       
        <div class="content-box ten columns offset-by-one">
          <p class="body-copy">
            Amex partnered with Walmart and Ria Money Transfer to deliver a streamlined cash pickup and transfer experience for Bluebird and Serve customers. Money transfer is, unsurprisingly, a hugely regulated service so my team met and overcame a lot of legal struggles during the design of this feature. Technically, this feature ended up being pretty straightforward for me. However, I learned a ton and really grew in my overall design contributions to the team. I worked with two designers and a design manager on this project.
          </p>
        </div>
      </section>
    </div>

    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">
        
        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--ria-3.png" alt=""></div>
          <div><img src="/../../assets/img--ria-2.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>Design Considerations and Learnings</b>
          <p class="body-copy">
            The <i>first slide above</i> is the output of the Service Journey my team developed during the early stages of designing the cash pickup feature. I can't take any credit for how nice it looks, but I did contribute heavily to its content. Due to the complexity of the user journey and the back-end tech that processed the transactions, we needed to be especially thorough in mapping out every step of the service.
          </p>
          <p class="body-copy">
            At the top, we start with the user journey phase: is the user learning about the product? experimenting with it? have they mastered it? Working our way down the page, we consider the channel by which the user is accessing the product in that moment. We then think about the user's mindset in that moment and the actions they're taking. Then at the bottom we start to map out and link up UI interactions with the server: what requests do we plan on making? what potential errors do we expect?
          </p>
          <p class="body-copy">
            Collecting all this information into one cohesive visual was crucial for the success of this project. Not only was it important for our own understanding, but it was a key grounding artifact we could refer to during conversations with all the different stakeholders involved in getting this feature launched.
          </p>
          <p class="body-copy">
            The <i>second slide above</i> is a photo of a logic map that I made to visually represent (at a high level) the decisions the server would make over the course of a standard user journey, including error cases. This ultimately helped inform the bottom of the Service Journey in the other slide.
          </p>
        </div>
      </div>
      
      <div class="ten columns offset-by-one u-rhythm-btm">
        <div class="twelve columns u-vrhythm-sm">
          <img src="/../../assets/img--ria-1.png" alt="">
        </div>
        
        <b>Technical Considerations and Learnings</b>
        <p class="body-copy">
          One of my main takeaways from this project is that the right experience doesn't always involve the sexiest tech. Most of the web experience for cash pickup was made up of educational content supporting a series of simple form pages. Those forms were challenging content-wise, but not tech-wise.
        </p>
        <p class="body-copy">
          Rapid prototyping was essential to the success of this project. We worked with a user testing agency to get key flows in front of users early and often. I'd sit in those sessions with the two designers, making changes to the prototype on the fly as we discovered trouble spots for our potential users.
        </p>
        <p class="body-copy">
          Technically what I'm most proud of from this project is the receipt/confimation page above. Users repeatedly mentioned that they wanted to be able to print this page to take with them to the store when they went to pick up their money. However our platform didn't have existing print stylesheet support for the logged in experience, only occasional PDF generation. So, along with building this succinct receipt, I also built platform wide print stylesheet support.
        </p>
      </div>
    </div>

  </div>
</div>
