---
layout: default
title: User Interviews
---

<!-- PROJECT HEADER -->
<header class="hero hero--color u-brand-primary">
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="header-group">
          <h1 class="header-text--primary">Onsite User Interviews</h1>
        </div>

        <p class="body-copy has-left-pipe">
           Good experience design and product development depend on quality time spent with the people who actually use your product. With our limited resources at Vroozi we have to fight for time to get in touch with our users, but each visit has given us insight into how to keep improving our product.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- PROJECT OVERVIEW -->
<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-primary"></div>

  <div class="container">
    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">

        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--interview-1.png" alt=""></div>
          <div><img src="/../../assets/img--interview-2.png" alt=""></div>
          <div><img src="/../../assets/img--interview-3.png" alt=""></div>
          <div><img src="/../../assets/img--interview-4.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>Q2 2017 Onsite Visits</b>
          <p class="body-copy">
            This past quarter we made a series of trips to client sites to learn about the customers using our Purchase Module to request goods and services, get them approved, order them from suppliers and receive the deliveries. I led a series of two-on-one interviews to get a feel for how our users were fitting the Purchase Module into their real workflow.
          </p>
          <p class="body-copy">
            At startups a lot of decisions end up getting made just by gut feeling so seeing our users in action is critical for keeping product development grounded. A big goal for me with these interviews was to remind our executive team and other stakeholders that "we are not our user" so we can make better, data-based product decisions. We need the filter of real user behavior to help ensure we're meeting true needs in our user's workflow.
          </p>
          <p class="body-copy">
            I put together short summaries of these visits to share with the broader organization <i>(see the example above)</i> so that we can start building a better understanding of our users and their work environment across all of Vroozi. I'm now in the process of consolidating these findings into an action plan to help us streamline our Purchase Module later in Q3 2017.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
