---
layout: default
title: User Interviews
---

<!-- PROJECT HEADER -->
<header class="hero hero--color u-brand-primary">
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="header-group">
          <h1 class="header-text--primary">Onsite User Interviews</h1>
        </div>

        <p class="body-copy has-left-pipe">
           Good experience design and product development depends on quality time spent with the people who actually use your product. Vroozi is a corporate product that employees at our client sites depend on to get work done. 
        </p>
      </div>
    </div>
  </div>
</header>

<!-- PROJECT OVERVIEW -->
<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-primary"></div>

  <div class="container">
    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">

        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--interview-1.png" alt=""></div>
          <div><img src="/../../assets/img--interview-2.png" alt=""></div>
          <div><img src="/../../assets/img--interview-3.png" alt=""></div>
          <div><img src="/../../assets/img--interview-4.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>How's it going</b>
          <p class="body-copy">
            We have many different kinds of users though, depending on the specific module and the configuration of the company itself. For example, within our Invoicing module, we have three main roles from the Accounts Payable department: Processors (the folks that do the data entry of the invoices), Approvers (the folks that approve whether or not an invoice is good to be paid) and Managers (those that oversee the department).
          </p>
          <p class="body-copy">
            This past quarter we made a series of trips out to client sites to learn about the customers using our Purchase Module to request goods and services, get them approved, order them from their suppliers and receive the deliveries. I led these typically two on one interviews to get a feel for how our users were actually fitting the Purchase Module into their workflow, how it was/wasn’t working for them, and critically seeing the vastly different atmospheres of the work spaces of the different people we were interviewing. I put together short summaries of these visits to share with the broader organization so that we can start bringing and understanding of the users and environments we’re building for.
          </p>
          <p class="body-copy">
            We’re also consolidating these findings into an action plan to help us streamline our Purchase Module later in Q3 2017.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
