<!-- AMEX INTRO -->
<header class="hero hero--color u-dark-green">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1 class="header-text--primary">American Express</h1>
          <h2 class="header-text--secondary">Front End Development + UX Design</h2>
        </div>

        <p class="body-copy has-left-pipe">
          Over the last year, I put extra focus on researching front-end best practices and helping them find their way into our legacy code base. Tools like <a href="https://github.com/gruntjs/grunt">Grunt</a>, <a href="https://github.com/brigade/scss-lint/">SCSS-lint</a> and <a href="https://github.com/csscomb/csscomb.js">CSScomb</a> helped us automate mundane tasks and spend more time building a better experience. Better class naming strategy and abstraction patterns helped us simplify our code for better reuse over time. The goal is to drastically simplify the front-end code which will let us prototype more efficiently, deliver a more consistently excellent user experience and maintain cleaner code in production. That means less bug fixing, fewer workarounds, and more productivity all around – never a bad thing.
        </p>

        <p class="note">
          Want a demo? I'm happy to demo any of my Amex work, but I unfortunately can't post open links or code due to confidentiality agreements.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- AMEX PROJECTS SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-dark-green"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--serve-responsive.png" alt="Serve Responsive Web Dashboard">
      </div>
    </div>
    
    <!-- PROJECT 1 -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a href="/projects/amex/serve-responsive.html" class="header-link">
            Serve Responsive Web
            {% include caret.html %}
          </a>
        </h1>
        
        <h2>HTML, SCSS, Javascript, jQuery</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          To better serve our largely mobile user base, we redesigned our financial management website to be 100% responsive and optimized for simple use across all major platforms.
        </p>
      </div>
    </div>
    
    <!-- PROJECT 2 -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/amex/amex-offers.html">
            Amex Offers
            {% include caret.html %}
          </a>
        </h1>
        <h2>Client side templates, API integration</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          By pairing key data from an existing API with new user insights, we refreshed an established American Express perk for a new audience: prepaid card users.
        </p>
      </div>
    </div>

    <!-- PROJECT 3 -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/amex/walmart-cash.html">
            Walmart Cash Pickup
            {% include caret.html %}
          </a>
        </h1>
        <h2>User Testing, Logic Map, Print Stylesheet</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          Amex partnered with Walmart and Ria to deliver a streamlined cash pickup and money transfer experience for Bluebird and Serve customers.
        </p>
      </div>
    </div>
  </div>
</section>
