<!-- BROADWAZE INTRO -->
<header class="hero hero--color u-light-green">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Broadwaze</h1>
          <h2>My music production side hustle</h2>
        </div>

        <p class="body-copy has-left-pipe">
          I've been involved with music for as long as I can remember. First came the piano lessons, then the years of choir, acappella groups and musicals and now I've honed in on music production and songwriting. So if you wanna chat about effect chains in Ableton Live, the lyric structure of that pop song you can't get out of your head or even if you just wanna have a good old fashioned jam session, I'm your man.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- BROADWAZE PROJECTS -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-light-green"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="twelve columns">
        <img class="splash-photo" src="../assets/img--ableton.jpg" alt="Ableton Live, baby">
      </div>
    </div>

    <div class="projects--broadwaze row">
      <div class="project four columns">
        <a href="https://soundcloud.com/broadwaze/nas-if-i-ruled-the-world-broadwaze-remix" target="_blank">
          <img class="art hvr-grow" src="../assets/img--broadwaze-1.png" alt="Album art">
        </a>

        <p class="body-copy">
          I heavily re-worked the Nas classic "If I Ruled The World", sampling Humphrey Bogart and his even-more-classic "Maltese Falcon".
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/broadwaze/kings-and-queens-30-seconds-to-mars-broadwaze-remix" target="_blank">
          <img class="art hvr-grow" src="../assets/img--broadwaze-2.png" alt="Album art">
        </a>

        <p class="body-copy">
          Yeah, Jared Leto is a little cray but his music backs it up. I remixed 30 Second to Mars' "Kings and Queens" with a Tropical House vibe.
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/broadwaze/take-it-down-low" target="_blank">
          <img class="art hvr-grow" src="../assets/img--broadwaze-3.png" alt="Album art">
        </a>

        <p class="body-copy">
          I set out to use a wobble bass and pull in some carribean vibe a la Diplo and ended up with a solid Reggaeton-esque dance beat.
        </p>
      </div>
    </div>

  </div>
</section>
