<footer class="footer footer--global">
  <div class="container">
    <div class="row">
      <div class="nine columns content-box">
        <p class="body-copy">
          <b>Heyo</b>. Thanks again for checking out my work.
        </p>

        <p class="body-copy">
          I'm Los Angeles based, Pennsylvania-born, and always down to chat about getting projects done. Also, beer and coffee are delicious. Let's have one.
        </p>
        
        <div class="body-copy">
          <div class="contact-line">
            <i class="icon icon--phone"></i> 814.932.5342
          </div>
          
          <div class="contact-line">
            <i class="icon icon--mail"></i> pamorgan12@gmail.com
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
