<!-- GA SECTION INTRO -->
<header class="hero hero--color u-mid-green">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>General Assembly</h1>
          <h2>Web Development Immersive Student</h2>
        </div>

        <p class="body-copy has-left-pipe">
          After two years as a brand strategist at Leo Burnett in Chicago, I realized I wasn't happy stopping my work at the point of deciding the strategy; I wanted to be responsible for its execution. Web development became my path toward satisfying my fundamental need to make things. So I quit my job, moved to New York and put myself through the ringer at General Assembly before finding my niche at Amex.
        </p>

        <p class="note">
          Please note: These are projects from my earliest days as a developer. They're fun to browse, but I've obviously learned a lot in the 2+ years since making them.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- GA PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-mid-green"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--echonest.png" alt="">
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="https://github.com/patrickmmorgan/periodic_table_of_echonest" target="_blank">
            Echonest App
            {% include caret.html %}
          </a>
        </h1>

        <h2>Musician "hotness" + popularity ranking</h2>
      </div>

      <div class="six columns">
        <p class="body-copy has-left-pipe">
          I'm a big music fan, so for my final project at GA I developed a simple ranking app based on data from the Echonest, a super in-depth API that now powers a lot of Spotify features.
        </p>
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="https://github.com/patrickmmorgan/live_from_ny" target="_blank">
            Live From New York
            {% include caret.html %}
          </a>
        </h1>

        <h2>NY Times Archive Search App</h2>
      </div>
      <div class="six columns">
        <p class="body-copy has-left-pipe">
          My very first web app makes simple queries to the NY Times archives API. Search for your birthday! You're bound to find something interesting. Is this a great feat of engineering or design? Not by a long shot. But it's always fun to remember the humble beginnings.
        </p>
      </div>
    </div>
  </div>
</section>
