<header class="header header--global site-voice">
  <div class="container js-parallax-element">
    <div class="row">
      <div class="col-sm-8">
        <div class="header-group header-group--contained">
          <h1 class="header-text header-text--primary">Patrick Morgan</h1>
          <h6 class="header-text header-text--secondary">Web Development, Strategy & Design</h6>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="header-group header-group--contained">
          A few words to check
        </div>
      </div>
    </div>
  </div>
</header>
