<header class="page-head">
  <div class="container">
    <div class="row">
      <div class="site-title column span-5">
        <a href="/" class="site-title__link">&ltpatrickmorgan&#47&gt</a>
      </div>

      <nav class="site-nav column span-7">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">About Me</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Projects</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Blog</a>
          </li>
          <li class="site-nav__item">
            <a href="#" class="site-nav__link">Resume</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
