<header class="header header--global">
  <div class="container">
    <div class="row">

      <div class="name-col eight columns">
        <a href="/">
          <div class="header-group content-box">
            <h1 class="header-text--global">Patrick Morgan</h1>
            <h2 class="header-text--global">Design Technology | Music Production</h2>
          </div>
        </a>
      </div>

      <div class="icon-col four columns">
        <div class="icons-group content-box">
          <div class="icon-container">
            <a class="icon__link" href="https://www.linkedin.com/in/patrickmmorgan" target="_blank">
              <span class="icon icon--work"></span>
            </a>
          </div>

          <div class="icon-container">
            <a class="icon__link" href="https://github.com/patrickmmorgan" target="_blank">
              <span class="icon icon--github"></span>
            </a>
          </div>

          <div class="icon-container">
            <a class="icon__link" href="https://angel.co/patrickmmorgan" target="_blank">
              <span class="icon icon--angellist"></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
