<!-- GA SECTION INTRO -->
<header class="hero hero--color u-brand-tertiary">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Leo Burnett</h1>
          <h2>Junior Brand Strategist</h2>
        </div>

        <p class="body-copy has-left-pipe">
          I started my career as a brand strategist at one of the biggest ad agencies in the world. I translated all kinds of consumer research into communications and designs for Fortune 500 companies like Esurance, Sprint and MillerCoors. I learned a ton at Burnett: from managing the client/agency relationship to leading stakeholder interviews to developing a winning challenger strategy for a major brand. I also started learning to code on weeknights and weekends before making a leap of faith to become a professional developer. 
        </p>
      </div>
    </div>
  </div>
</header>

<!-- GA PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-brand-tertiary"></div>

  <div class="container">
    <div class="row">
      <div class="eight columns">
        <img class="splash-photo" src="../assets/img--purpose.jpg">
      </div>

      <div class="four columns">
        <img src="../assets/img--cake-pop.jpg">
      </div>  
    </div>
  </div>
</section>
