<!-- GA SECTION INTRO -->
<header class="hero hero--color u-mid-green">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Leo Burnett</h1>
          <h2>Junior Brand Strategist</h2>
        </div>

        <p class="body-copy has-left-pipe">
          I started my career as a brand strategist at one of the biggest ad agencies in the world. I translated all kinds of consumer research into communications and designs for Fortune 500 companies like Esurance, Sprint and MillerCoors. I learned a ton at Burnett: from managing the client/agency relationship to leading stakeholder interviews to developing a winning challenger strategy for a major brand. While I liked a lot about this work, I didn't want to just sell products, I wanted to make them. So I started learning to code on weeknights and weekends before making a leap of faith to become a professional developer. 
        </p>
      </div>
    </div>
  </div>
</header>

<!-- GA PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-mid-green"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--echonest.png" alt="">
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="https://github.com/patrickmmorgan/periodic_table_of_echonest" target="_blank">
            Echonest App
            {% include caret.html %}
          </a>
        </h1>

        <h2>Musician "hotness" + popularity ranking</h2>
      </div>

      <div class="six columns">
        <p class="body-copy has-left-pipe">
          I'm a big music fan, so for my final project at GA I developed a simple ranking app based on data from the Echonest, a super in-depth API that now powers a lot of Spotify features.
        </p>
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="https://github.com/patrickmmorgan/live_from_ny" target="_blank">
            Live From New York
            {% include caret.html %}
          </a>
        </h1>

        <h2>NY Times Archive Search App</h2>
      </div>
      <div class="six columns">
        <p class="body-copy has-left-pipe">
          My very first web app makes simple queries to the NY Times archives API. Search for your birthday! You're bound to find something interesting. Is this a great feat of engineering or design? Not by a long shot. But it's always fun to remember the humble beginnings.
        </p>
      </div>
    </div>
  </div>
</section>
