<!-- BROADWAZE INTRO -->
<header class="hero hero--color u-light-green">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Patrick Holiday</h1>
          <h2>My songwriting and music production side hustle</h2>
        </div>

        <p class="body-copy has-left-pipe">
          Yeah, I use a pseudonym. Deal with it. I've been involved with music for as long as I can remember. First came the piano lessons, then the years of choir, acappella groups and musicals and now I've honed in on music production and songwriting. So if you wanna chat about effect chains in Ableton Live, the lyric structure of that pop song you can't get out of your head or even if you just wanna have a good old fashioned jam session, I'm your man.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- BROADWAZE PROJECTS -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-light-green"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="twelve columns">
        <img class="splash-photo" src="../assets/img--ableton.png" alt="Ableton Live, baby">
      </div>
    </div>

    <div class="projects--broadwaze row">
      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/let-me-feel-it" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-1.png" alt="Album art">
        </a>

        <p class="body-copy">
          "Let Me Feel It" is about that moment in a relationship where you have to let it all out to reach the next level of connection.
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/crush" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-2.png" alt="Album art">
        </a>

        <p class="body-copy">
          "Crush" is about those tough "Define the Relationship" talks when you're not on the same page with your significant other.
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/at-least-we-have-tonight" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-3.png" alt="Album art">
        </a>

        <p class="body-copy">
          "At Least We Have Tonight" is a bittersweet song about a one night stand and missed chances.
        </p>
      </div>
    </div>

  </div>
</section>
