<!-- BROADWAZE INTRO -->
<header class="hero hero--color u-brand-light">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Patrick Holiday</h1>
          <h2>Songwriter and music producer</h2>
        </div>

        <p class="body-copy has-left-pipe">
          Music is my side hustle. And yeah, I do use a pseudonym. It's a nod to my little hometown of Hollidaysburg, Pennsylvania. I've been involved with music for as long as I can remember. So if you wanna chat about effect chains in Ableton Live, the lyric structure of that pop song you can't get out of your head or even if you just wanna have a good old fashioned jam session, I'm your man.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- BROADWAZE PROJECTS -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-light"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="twelve columns">
        <img class="splash-photo" src="../assets/img--ableton.png" alt="Ableton Live, baby">
      </div>
    </div>

    <div class="projects--broadwaze row">
      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/la-piedra" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-1.png" alt="Album art">
        </a>

        <p class="body-copy">
          I was inspired to make this instrumental jam after spending a day out at La Piedra beach in Malibu. Came back, wrote and produced this one all in one weekend.
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/glimpse-of-hope-demo" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-2.png" alt="Album art">
        </a>

        <p class="body-copy">
          "Glimpse of Hope" is an RnB demo about knowing the last thing you need at the end of relationship is any chance of keeping it alive.
        </p>
      </div>

      <div class="project four columns">
        <a href="https://soundcloud.com/thepatrickholiday/shut-up-and-kiss-me" target="_blank">
          <img class="art hvr-grow" src="../assets/img--music-3.png" alt="Album art">
        </a>

        <p class="body-copy">
          "Shut up and Kiss Me" is a simple pop love song about getting past the nerves when you're with someone new
        </p>
      </div>
    </div>

  </div>
</section>
