<!-- GA SECTION INTRO -->
<header class="hero hero--color u-brand-dark">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Vroozi</h1>
          <h2>UI Developer</h2>
        </div>

        <p class="body-copy has-left-pipe">
          I moved to Los Angeles in June 2016 to start a new adventure after spending a few years in New York. I linked up with LA native fin-tech startup Vroozi (based in Sherman Oaks) to help continue their product development and in particular to drive their push toward 100% mobile enabled business purchasing and expense management.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- GA PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-dark"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--vroozi-responsive.png" alt="">
      </div>
    </div>
    
    <div class="row">
      <div class="project four columns">
        <b>Responsive UI + Emails</b>

        <p class="body-copy">
          Vroozi is focused on delivering a mobile friendly procurement platform, but it wasn't initially built that way. I'm working on transitioning the product to a truly mobile first approach for design and development.
        </p>
      </div>

      <div class="project four columns">
        <b>UI Code Guidelines</b>

        <p class="body-copy">
          Vroozi uses a lot of contract developers all over the world but doesn't have a clear code style guide for those developers to follow. I'm helping to create those guidelines while also reviewing and managing all the UI related pull requests going into the platform.
        </p>
      </div>

      <div class="project four columns">
        <b>Component Architecture</b>

        <p class="body-copy">
          Vroozi is built with Angular and we have been gradually adopting the ES6 component pattern within the framework for new UI features. I'm particularly interested in figuring out the best way to also develop modular styles to better support the component based system.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
