<!-- GA SECTION INTRO -->
<header class="hero hero--color u-brand-dark">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Vroozi</h1>
          <h2>UX Designer</h2>
        </div>

        <p class="body-copy has-left-pipe">
          At Vroozi I'm the sole full-time designer, so I'm deep in the mix building design process and culture at an upstart fin-tech company. I really do a bit of everything in this role. I work with my partners on the product team to gather requirements and write the design brief. I might lead us in experience design and research activities, I might create an InVision prototype, I might do visual design exploration, I might create a content matrix for a new feature, or I might just hop into the code base to fix a bug. Ultimately, I just do what's needed to communicate the design intent.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- GA PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-dark"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--vroozi-responsive.png" alt="">
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a href="/projects/amex/serve-responsive" class="header-link">
            Vroozi Admin 2.0
            {% include caret.html %}
          </a>
        </h1>
        
        <h2>Unifying feature modules into a cohesive whole</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          Vroozi is a suite of financial products and our admin panel is the first entry point into all Vroozi modules and 
        </p>
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/amex/amex-offers">
            Design Process & Tools
            {% include caret.html %}
          </a>
        </h1>
        <h2>Trello, Kanban and sketch frameworks</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          By pairing data from an existing, internal API with new user insights, we refreshed an established American Express perk for our unique set of cardholders.
        </p>
      </div>
    </div>

    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/amex/walmart-cash">
            Onsite Client Interviews
            {% include caret.html %}
          </a>
        </h1>
        <h2>Getting out to understand our users</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          Amex partnered with Walmart and Ria Money Transfer to deliver a streamlined cash pickup and transfer experience for Bluebird and Serve customers.
        </p>
      </div>
    </div>
  </div>
</section>
