<!-- GA SECTION INTRO -->
<header class="hero hero--color u-brand-dark">
  <div class="container">

    <div class="row">
      <div class="nine columns">
        <div class="header-group">
          <h1>Vroozi</h1>
          <h2>Product Designer</h2>
        </div>

        <p class="body-copy has-left-pipe">
          At Vroozi I'm the only full-time designer, so I'm responsible for and do pretty much everything design-wise. I really do a bit of everything in this role: I work with my product team partners to gather requirements, I might lead us in experience design and research activities, I might create an InVision prototype, I might do visual design exploration, I might create a content matrix for a new feature, or I might just hop into the code base to fix a bug. Ultimately, I do what's needed to communicate the design intent.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- VROOZI PROJECT SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-dark"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="ten offset-by-one columns">
        <img src="../assets/img--vroozi-dash.png" alt="">
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a href="/projects/vroozi/admin" class="header-link">
            Vroozi Admin 2.0
            {% include caret.html %}
          </a>
        </h1>
        
        <h2>Creating a cohesive design system</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          Vroozi is a unified suite of financial products but our home base admin panel never felt like it. I'm working on taking it from being a feature-rich catch-all to a true command center.
        </p>
      </div>
    </div>
    
    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/vroozi/design-process">
            Design Process & Tools
            {% include caret.html %}
          </a>
        </h1>
        <h2>Kanban and sketch frameworks</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          As the only designer at Vroozi, not all design work can (or should) go through me. I can’t be the bottleneck to delivering a great product. So a big goal of mine has been to create tools and processes for our development and product team to use as they inevitably make their own design decisions.
        </p>
      </div>
    </div>

    <!-- PROJECT -->
    <div class="project row">
      <div class="project__header six columns">
        <h1 class="project__title">
          <a class="header-link" href="/projects/vroozi/user-interviews">
            User Interviews
            {% include caret.html %}
          </a>
        </h1>
        <h2>Getting out to understand our users</h2>
      </div>

      <div class="project__body six columns">
        <p class="body-copy has-left-pipe">
          When you're moving at breakneck startup pace, it's easy to forget to check in with the people who actually use the product. I'm helping to make sure everyone in the organization feels some connection to our users while we forge ahead.
        </p>
      </div>
    </div>
  </div>
</section>
