<!-- WELCOME SPLASH SECTION -->
<section class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-brand-secondary"></div>

  <div class="container">
    <div class="row u-rhythm-btm">
      <div class="twelve columns">
        <img class="splash-photo" src="../assets/img--think-coffee.jpg" alt="Design without coffee? Never.">
      </div>
    </div>

    <div class="project row">
      <div class="header-group five columns">
        <h1>Hello!</h1>
        <h2>Thanks for stopping by</h2>
        <a href="../assets/patrick-morgan-resume-2016.pdf">Download my resume</a>
        <p>
          <i>For code samples, please ask.</i>
        </p>
      </div>

      <div class="project__body seven columns has-left-pipe">
        <p class="body-copy">
          <b>I’m Patrick.</b> Professionally, I'm a technologist focused on how design and tech come together to make great products. Personally, I'm a creative person that rarely goes a day without making something. I’m also apparently very pensive when I drink my coffee.
        </p>

        <p class="body-copy">
          I am not your typical developer. Yes, I can write production ready front-end code, but I thrive on working throughout the full human-centered design process. I started my career as a brand strategist at the global ad agency <a href="http://leoburnett.com/">Leo Burnett</a>, sythesizing myriad research into winning strategies for Fortune 500 companies. I then worked as a front-end developer on a highly collaborative product design team at <a href="https://www.americanexpress.com/">American Express</a> where I did everything from competitive audits, to field research, to user testing, to rapid prototyping, to building a responsive design system to work across three brands on our prepaid debit platform. 
        </p>

        <p class="body-copy">
          I'm currently working for <a href="https://www.vroozi.com/">Vroozi</a>, a fintech startup in Los Angeles, where I'm helping to refine a business puchasing platform that processed over a billion dollars of spend last year.
        </p>
      </div>
    </div>
  </div>
</section>