/*------------------------------------*\
    #Typography
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight--default;
}

p {
  margin: 0;
  margin-bottom: .5em;
  line-height: 1.75;
  font-size: $font-size--default;
}
