/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;

  border: 1px solid #bbbbbb;
  border-radius: 4px;

  background-color: transparent;

  color: #555555;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;

  box-sizing: border-box;
}

.btn:hover,
.btn:focus,
button:hover,
button:focus {
  border-color: #888888;
  outline: 0;

  color: #333333;
}

.btn.btn-primary,
button.btn-primary {
  border-color: #33c3f0;

  background-color: #33c3f0;

  color: #ffffff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
button.btn-primary:hover,
button.btn-primary:focus {
  border-color: #1eaedb;

  background-color: #1eaedb;

  color: #ffffff;
}
