/* CAROUSEL NAV – STANDARD
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.arrow-group {
  margin-top: 10px;
  margin-bottom: 30px;

  text-align: center;

  @include mq(large) {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

.carousel-arrow {
  display: inline-block;
  position: relative;

  vertical-align: middle;
}

.carousel-arrow--prev {
  top: -1px;
  right: 5px;

  transform: rotate(180deg);
}

.carousel-arrow--next {
  top: 1px;
  left: 5px;
}

.carousel-nav__text {
  display: inline-block;
  margin-bottom: 0;

  vertical-align: middle;
}



/* CAROUSEL NAV - GO TO SLIDE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carousel-nav__item {
  display: inline-block;
  float: left;
  width: 33%;
  margin-bottom: 30px;
  padding: 10px 0;

  color: #cccccc;
  text-align: center;

  cursor: pointer;

  @include mq(medium) {
    width: 16.6666667%;
  }

  &:hover {
    color: $text-color;
  }
  
  &.active {
    background-color: $paper;

    color: $text-color;

    box-shadow: $box-shadow-default;
  }
}

.carousel-nav__item .slick-active {
  color: $text-color;
}
