.carousel-arrow--prev {
  display: inline-block;
  transform: rotate(180deg);
}

.carousel-arrow--next {
  display: inline-block;
}

.arrow-group {
  text-align: center;
}

.carousel-nav__text {
  display: inline;
}

.carousel-nav__item {
  display: inline-block;
  float: left;
  width: 33%;
  margin-bottom: 30px;
  padding: 10px 0;

  color: #cccccc;
  text-align: center;

  cursor: pointer;

  @include mq(medium) {
    width: 16.6666667%;
  }

  &:hover {
    color: $text-color;
  }
  
  &.active {
    background-color: $paper;

    color: $text-color;

    box-shadow: $box-shadow-default;
  }
}


.carousel-nav__item .slick-active {
  color: $text-color;
}
