.article {
  margin-bottom: 1.5rem;
}

.article__title {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.article__title--minor {
  font-size: .85rem;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: $border--default;
}

.article__body {
  text-align: justify;
  text-justify: inter-word;
}
