/*------------------------------------*\
    #Hero
\*------------------------------------*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  float: left;

  padding: 40px 0;

  width: 100%;

  @include mq(large) {
    width: 50%;
    height: 100%;
  }
}
  
  // Hero Content
  .hero__content {
    display: block;
    position: relative;
    width: 80%;
    height: auto;

    @include mq(medium) {
      max-width: 400px;
    }
  }

  // Hero Title
  .hero__title {
    font-size: 3.5em;
    margin-bottom: 25px;
  }


// Hero - Color Variants
.hero--white {
  background-color: $white;
}

.hero--grey {
  background-color: $grey-400;
}
