/*------------------------------------*\
    #Links
\*------------------------------------*/

a {
  text-decoration: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: $text-dark--secondary;
  padding-bottom: 5px;
  
  transition: color .3s;
  transform: translateZ(0);

  &:hover {
    color: $brand-accent;
  }
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50%;
  bottom: 0;
  left: 50%;

  height: 2px;

  background-color: $brand-accent;
  transition-property: left, right;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.link:hover:after {
  right: 0;
  left: 0;
}

.link--light {
  color: $text-light--primary;

  &:hover {
    color: $text-light--secondary;
  }
}
