/*------------------------------------*\
    #List
\*------------------------------------*/

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

// Horizontal List
.list--horizontal {
  justify-content: space-between;

  .list__item { 
    padding-left: 15px;

    &:first-child {
      padding-left: 0;
    }
  }

  .list__link {
    display: inline-block;
  }
}

// Stacked List
.list--stacked {
  justify-content: flex-start;

  .list__item { 
    width: 100%;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .list__link {
    display: block;
  }
}
