/*------------------------------------*\
    #Header
\*------------------------------------*/

.site-title {
  text-align: center;

  @include mq(large) {
    text-align: left;
  }
}

.site-title__link {
  font-family: "Maven Pro";
  font-size: 35px;

  color: $text-dark--primary;
  text-decoration: none;
}
