.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--horizontal {

  .list__item { 
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

    &:first-child {
      padding-left: 0;
    }
  }

  .list__link {
    display: inline-block;
  }
}

.list--stacked {

  .list__item { 
    display: block; 
    padding-top: 10px;
    padding-botom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .list__link {
    display: block;
  }
}
