.list-block h2 {
  font-size: .85em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: $border--default;
}

.site-title {
  text-align: center;

  @include mq(large) {
    text-align: left;
  }
}

.site-title__link {
  font-family: "Maven Pro";
  font-size: 35px;

  color: $text-dark--primary;
  text-decoration: none;
}
