i.icon {
  display: inline-block;
}

.icon--social {
  width: 50px;
  height: 50px;
  
  background-repeat: no-repeat;
  background-position: center;
  
  // LinkedIn
  &.linkedin {
    background-image: url("../img/foundation_icons/fi-social-linkedin.svg"); 
  }
  
  // jsFiddle
  &.jsfiddle {
    // background-image: url("../img/foundation_icons/fi-social-linkedin.svg"); 
  }

  // Github
  &.github {
    background-image: url("../img/foundation_icons/fi-social-github.svg");
  }

  // Medium
  &.medium {
    background-image: url("../img/foundation_icons/fi-social-medium.svg");
  }
}
