/* GLOBAL HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header--global {
  padding: 30px 0;

  background-image: url('../assets/sayagata-400px.png');

  @include mq(large) {
    padding: 60px 0;
  }
}

.header--global .header-group {
  display: inline-block;

  @include mq(large) {
    margin-bottom: 0;
  }
}

.header--global .name-col {
  text-align: center;

  @include mq(large) {
    text-align: left;
  }
}

.header--global .icon-col {
  text-align: center;
}

.header-group {
  display: block;
  margin-bottom: 30px;

  text-align: center;

  @include mq(large) {
    display: inline-block;

    text-align: left;
  }
}
