.u-dark-green {
  background-color: $dark-green;
}

.u-mid-green {
  background-color: $mid-green;
}

.u-light-green {
  background-color: $light-green;
}

/* Global Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header--global {
  background-image: url("../assets/img/banner-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;

  @include mq(large) {
    padding: 60px 0;
  }
}

.header--global .header-group {
  @include mq(large) {
    margin-bottom: 0;
  }
}

.header-group {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @include mq(large) {
    display: inline-block;
    text-align: left;
  }
}

.icon-container {
  display: inline-block;
  margin: 0 auto;

  @include mq(large) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

/* Global Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer--global {
  background-color: $paper;
  padding: 50px 0;

  @include mq(large) {
    padding: 100px 0;
  }
}

/* Crossing Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bar {
  width: 150%;
  height: 75px;
  position: absolute;
  left: -10%;
  top: 30%;

  @include mq(large) {
    top: 40%;
    height: 110px;
  }
}

.bar--left {
  transform: rotate(13deg);
}

.bar--right {
  transform: rotate(-13deg);
}

/* Content Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.content-box {
  background-color: $white;
  padding: 15px;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  position: relative;
  padding: 50px 0;
  width: 100%;
}

.hero--color {
  color: $white;
}

.image-container {
  padding-bottom: 50px;
}

.has-crossing-bar {
  min-height: 350px;
}
