/* Brand Color Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-dark-green {
  background-color: $dark-green;
}

.u-mid-green {
  background-color: $mid-green;
}

.u-light-green {
  background-color: $light-green;
}

.splash-photo {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 3px #cde;
  
  border-color: $frost;
  border-style: solid;

  border-width: 10px 20px;
  
  @include mq(medium) {
    border-width: 20px 30px;
  }

  @include mq(large) {
    border-width: 25px 50px;
  }
}



/* Global Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header--global {
  background-image: url("../assets/img/banner-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;

  @include mq(large) {
    padding: 60px 0;
  }
}

.header--global .header-group {
  display: inline-block;

  @include mq(large) {
    margin-bottom: 0;
  }
}

.header--global .name-col {
  text-align: center;

  @include mq(large) {
    text-align: left;
  }
}

.header--global .icon-col {
  text-align: center;
}

.header-group {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @include mq(large) {
    display: inline-block;
    text-align: left;
  }
}



/* Project
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.project__header {
  margin-bottom: 20px;
}

.project__title {
  display: inline-block;
  color: $text-color;
  font-size: 26px;
}

.projects--broadwaze {
  max-width: 400px;
  margin: 0 auto;

  @include mq(large) {
    max-width: inherit;
  }
}

.header-link {
  color: $text-color;
  text-decoration: none; 
}

.header-link,
.caret__fill {
  transform: translateZ(0);
  transition-property: color, fill;
  transition-duration: .3s;
}

.header-link:hover {
  color: #0FA0CE;

  .caret__fill {
    fill: #0FA0CE;
  }
}



/* Icon Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.content-box.icons-group {
  padding: 10px 15px;
}

.icons-group {
  display: inline-block;
  margin: 0 auto;

  @include mq(large) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}




i.icon {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon--linkedin {
  background-image: url("../assets/icon--linkedin.svg");
  width: 24px;
  height: 24px;
}

.icon--github {
  background-image: url("../assets/icon--github.svg");
  width: 24px;
  height: 24px;
}

.icon--angellist {
  background-image: url("../assets/icon--angellist.svg");
  width: 17px;
  height: 24px;
}

.icon--phone {
  background-image: url("../assets/icon--phone.svg");
  width: 22px;
  height: 22px;
}

.icon--mail {
  background-image: url("../assets/icon--mail.svg");
  width: 22px;
  height: 16px;
}

.contact-line {
  margin-bottom: 10px;
}

.contact-line .icon {
  padding-right: 15px;
}

.icon-container { 
  display: inline-block;
  padding-right: 15px;

  &:last-child {
    padding-right: 0;
  }
}

@keyframes hvr-bob-float {
  100% {
    transform: translateY(-4px);
  }
}

@keyframes hvr-bob {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}

.icon__link {
  transform: translateZ(0);

  &:hover {
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: .75s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forward;
    animation-direction: normal, alternate;
  }
}



/* Global Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer--global {
  background-color: $paper;
  padding: 50px 0;

  @include mq(large) {
    padding: 70px 0;
  }
}



/* Crossing Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bar {
  width: 150%;
  height: 75px;
  position: absolute;
  left: -25%;
  top: 150px;

  @include mq(large) {
    top: 200px;
    height: 110px;
  }
}

.bar--left {
  transform: rotate(13deg);
}

.bar--right {
  transform: rotate(-13deg);
}



/* Content Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.content-box {
  background-color: $white;
  padding: 15px;
  box-shadow: 0 0 3px #cde;
}

.caret {
  display: inline-block;
  height: 15px;
  width: 15px;
}



/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  position: relative;
  padding: 50px 0;
  width: 100%;
}

.hero--color {
  color: $white;
}

.image-container {
  padding-bottom: 40px;
}

.has-crossing-bar {
  min-height: 350px;
}

.art {
  box-sizing: border-box;
  border: 20px solid $frost;
  box-shadow: 0 0 3px #cde;
  margin-bottom: 20px;

  transform: translateZ(0);
  transition-property: transform;
  transition-duration: .3s;

  &:hover {
    transform: scale(1.05);
  }
}

img {
  width: 100%;
}


