/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, p {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 { 
  font-size: 26px; 
  line-height: 1.2;  
  font-weight: bold;
  letter-spacing: 1px;

  @include mq(large) {
    font-size: 36px;
  }
}

.header--global h1 {
  text-transform: uppercase;
  letter-spacing: .6px;
}

h1.header-text--global {
  @include mq(large) {
    font-size: 32px;
    letter-spacing: 1.2px;
  }
}

h2.header-text--global {
  font-size: 11px;
  letter-spacing: .4px; 

  @include mq(large) {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

h2 { 
  font-size: 13px; 
  line-height: 1.25; 
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .6px;
}

.body-copy {
  font-size: 12px;
  letter-spacing: 1px;

  @include mq(large) {
    font-size: 13px;
    letter-spacing: .7px;
  }
}

.note {
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;

  @include mq(large) {
    text-align: left;
  }
}

.has-left-pipe {
  @include mq(large) {
    position: relative;
    left: -25px;

    border-left: 1px solid;
    padding-left: 25px;
  }
}
