/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, p {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 { 
  font-size: 36px; 
  line-height: 1.2;  
  font-weight: bold;
  letter-spacing: 1px;
}

h2 { 
  font-size: 15px; 
  line-height: 1.25; 
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .6px;
}

.body-copy {
  font-size: 12px;
  letter-spacing: 1px;

  @include mq(large) {
    font-size: 15px;
    letter-spacing: .6px;
  }
}

.has-left-pipe {
  border-left: 1px solid;
  padding-left: 25px;

  @include mq(large) {
    position: relative;
    left: -25px;
  }
}
