/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, p {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 { 
  font-size: 26px; 
  line-height: 1.2;  
  font-weight: bold;
  letter-spacing: 1px;

  @include mq(large) {
    font-size: 36px;
  }
}

.header--global h1 {
  text-transform: uppercase;
  letter-spacing: .6px;
}

h1.header-text--global {
  @include mq(large) {
    font-size: 32px;
  }
}

h2.header-text--global {
  font-size: 10.5px; 

  @include mq(large) {
    font-size: 13px;
  }
}

h2 { 
  font-size: 13px; 
  line-height: 1.25; 
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .6px;

  @include mq(large) {
    font-size: 15px;
  }
}

.body-copy {
  font-size: 12px;
  letter-spacing: 1px;

  @include mq(large) {
    font-size: 15px;
    letter-spacing: .6px;
  }
}

.has-left-pipe {
  border-left: 1px solid;
  padding-left: 20px;

  @include mq(large) {
    padding-left: 25px;
    position: relative;
    left: -25px;
  }
}
