/* UTILITIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Background Colors

.u-dark-green {
  background-color: $dark-green;
}

.u-mid-green {
  background-color: $mid-green;
}

.u-light-green {
  background-color: $light-green;
}

// Width
.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

// Floats
.u-pull-right {
  float: right; 
}

.u-pull-left {
  float: left; 
}

// Vertical rhythm
.u-rhythm-btm {
  margin-bottom: 40px;
}

// Clearfix
.u-clearfix {
  content: "";
  display: table;
  clear: both; 
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
