/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

.u-pull-right {
  float: right; 
}

.u-pull-left {
  float: left; 
}


// Text Utilities
.u-text {
  &--thin {
    font-weight: 300;
  }

  &--normal {
    font-weight: 400;
  }

  &--bold {
    font-weight: 700;
  }

  &--thick {
    font-weight: 800;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}


// Clearfix
.u-clearfix {
  content: "";
  display: table;
  clear: both; 
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
