body {
  background-image: url('../assets/background_pattern.png');
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline;
}

p, ul, li {
  font-family: 'Century';
}

.nav_bar {
  background: #D8D8D8;
  height: 40px;
  width: 100%;
  position: absolute;
}
.nav_bar h3 {
  margin-left: 10px;
}
.nav_bar.bottom {
  bottom: 0;
  position: relative;
}

.picture {
  padding-top: 8px;
}

#header {
  margin-top: 70px;
  text-align: center;
}
#header h1 {
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
#header h5 {
  font-family: 'Century';
  padding-bottom: 10px;
}



#skill_list {
  margin: 0;
  padding: 0;
}

.skills {
  height: 10px;
  width: 100%;
  background: #71C6CD;
  display: inline-block;
}

.icons {
  width: 12%;
  float: right;
}
.icons.find {
  width: 8%;
  float: none;
}


