body {
  background-image: url('../assets/background_pattern.png');
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Padding for Scrolling*/
#aboutme {
  padding-top: 60px;
}
#exp {
  padding-top: 20px;
}
#dev {
  padding-top: 15px;
}

/* FONTS */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline;
}
p, ul, li, h4, figcaption {
  font-family: 'Century';
}
.sub_head {
  color: #71C6CD;
  font-weight: bold;
}

/* PICTURES */
.picture {
  padding-top: 8px;
}
.picture img {
  border-radius: 10px;
}
figcaption {
  text-align: center;
}

/* TOP BAR, BOTTOM BAR, LAST DIVIDER */
.nav_bar {
  background: #EFEFEF;
  height: 40px;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 1;
}
  .nav_bar h3 {
    margin-left: 10px;
  }
  .nav_bar.bottom {
    bottom: 0;
    position: fixed;
    margin-top: 100px;
  }

.nav_links {
  margin-right: 30px;
  margin-top: -24px;
  display: inline;
  float: right;
}
  .nav_links a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }

#final_divider {
  margin-bottom: 120px;
}

/* HEADER */
#header {
  margin-top: 85px;
  margin-bottom: 30px;
  text-align: center;
}
  #header h1 {
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-right: 50px;
  }
  #header h5 {
    font-family: 'Century';
    padding-bottom: 30px;
    margin-right: -90px;
    margin-top: -10px;
  }

/* ABOUT ME */
.about {
  display: inline;
  padding-top: 30px;
}
  .about.answer1 {
    margin-left: 56px;
  }
  .about.answer2 {
    margin-left: 72px;
  }
  .about.answer3 {
    margin-left: 60px;
  }
  .about.answer4 {
    margin-left: 65px;
  }
  .project_link a {
    color: white;
    float: right;
    margin-right: 25px;
  }

/* SKILLS */
.skills_list li {
  margin-bottom: 2px;
}
.skills_list div {
  height: 10px;
  background: #71C6CD;
  display: inline-block;
}

/* FIND ME */
.icons {
  width: 12%;
  float: right;
}
  .icons.find {
    width: 8%;
    float: none;
    margin-bottom: -5px;
  }
  .contact_info {
    display: inline;
    margin-left: 25px;
  }

/* EXPERIENCE DETAILS */
.resume p {
  margin-bottom: 0;
}
.resume ul {
  margin-top: 10px;
}
.resume li {
  margin-bottom: 8px;
}
.resume hr {
  margin-bottom: 10px;
}