body {
  background-image: url('../assets/background_pattern.png');
}

/* FONT BASICS */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline;
}
p, ul, li, h4 {
  font-family: 'Century';
}
.sub_head {
  color: #71C6CD;
  font-weight: bold;
}

.picture {
  padding-top: 8px;
}

/* TOP AND BOTTOM BARS */
.nav_bar {
  background: #D8D8D8;
  height: 40px;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}
.nav_bar h3 {
  margin-left: 10px;
}
.nav_bar.bottom {
  bottom: 0;
  position: relative;
}

/* HEADER */
#header {
  margin-top: 70px;
  text-align: center;
}
#header h1 {
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 50px;
}
#header h5 {
  font-family: 'Century';
  padding-bottom: 30px;
  margin-right: -90px;
  margin-top: -10px;
}

/* SKILLS */
.skills {
  height: 10px;
  background: #71C6CD;
  display: inline-block;
}
.skill_title {
  display: inline;
}

/* FIND ME */
.icons {
  width: 12%;
  float: right;
}
.icons.find {
  width: 8%;
  float: none;
  margin-bottom: -5px;
}
.contact_info {
  display: inline;
  margin-left: 25px;
}

/* ABOUT ME */

.about {
  display: inline;
}
.about.answer1 {
  margin-left: 56px;
}
.about.answer2 {
  margin-left: 72px;
}
.about.answer3 {
  margin-left: 60px;
}
.about.answer4 {
  margin-left: 65px;
}

.project_link {
  text-decoration: none;
}
.project_link a {
  color: white;
}