/*------------------------------------*\
    #Page Level Styles
\*------------------------------------*/

html {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: $body-color;
  overflow: hidden;

  font-size: $font-size--default;
  font-weight: $font-weight--default;
  line-height: $line-height--default;

  color: $text-dark--primary;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#page-content {
  min-height: 550px;

  margin-bottom: 30px;
}
