* {
    box-sizing: border-box;
}

body {
  background-image: url('../img/background-pattern.png');
}

/* FONTS */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline;
}

p,
ul,
li,
h4,
figcaption {
  font-family: 'Century';
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-head {
  color: #71C6CD;
  font-weight: bold;
}

/* PICTURES */
.picture {
  padding-top: 8px;
}

.picture img {
  border-radius: 10px;
}

figcaption {
  text-align: center;
}

/* TOP BAR, BOTTOM BAR, LAST DIVIDER */
.nav {
  position: fixed;
  width:  100%;
  height: 40px;
  background-color: #EFEFEF;
  z-index: 1;

  &.bottom {
    position: fixed;
      bottom: 0;
  }
}

.nav h3 {
  margin-left: 10px;
}

/* MENU ITEMS IN TOP BAR */
.menu {
  position: absolute;
    right: 0;
  float: right;
  margin-top: -25px;
}

.menu li {
  display: inline;
  margin-right: 25px;
}

.menu a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;

  &:hover {
    color: #71C6CD;
  }
}

/* HEADER */
#header {
  margin-top: 85px;
  margin-bottom: 30px;
  text-align: center;
}

#header h1 {
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 50px;
}

#header h5 {
  font-family: 'Century';
  padding-bottom: 30px;
  margin-right: -90px;
  margin-top: -10px;
}

/* ABOUT ME */
.about {
  display: inline;
  padding-top: 30px;
}

.about.answer1 {
  margin-left: 56px;
}

.about.answer2 {
  margin-left: 72px;
}

.about.answer3 {
  margin-left: 60px;
}

.about.answer4 {
  margin-left: 65px;
}

.project-link a {
  color: white;
  float: right;
  margin-right: 25px;
}

/* SKILLS */
.skills-list li {
  margin-bottom: 2px;
}

.skills-list div {
  height: 10px;
  background: #71C6CD;
  display: inline-block;
}

/* FIND ME */
.icons {
  width: 12%;
  float: right;
}

.icons.find {
  width: 8%;
  float: none;
  margin-bottom: -5px;
}

.contact-info {
  display: inline;
  margin-left: 25px;
}

/* EXPERIENCE DETAILS */
.resume p {
  margin-bottom: 0;
}

.resume ul {
  margin-top: 10px;
}

.resume li {
  margin-bottom: 8px;
}

.resume hr {
  margin-bottom: 10px;
}

#sub-list {
  font-size: 95%;
}

/*Padding for Scrolling*/
#about-positioning {
  padding-top: 60px;
}

#experience-positioning {
  padding-top: 20px;
}

#education-positioning .divider {
  margin-bottom: 100px;
}
