/* Page Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: $body-color;
  overflow: hidden;

  font-size: $font-size-default;
  font-weight: $font-weight-default;
  
  line-height: $line-height-default;
  color: $font-color-default;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#page-content {
  margin-top: 20px;

  @include mq(large) {
    margin-top: 40px;
  }
}
