footer {
  position: relative;
  width: 100%;
}

.page-foot {
  padding: 70px 0;

  background-color: $brand-color;
  background: linear-gradient(45deg, $brand-color 0%, $brand-color--light 100%);

  border-top: 5px solid $brand-color--dark;

  color: $text-light--primary;
}
