header {
  position: relative;

  margin-bottom: 50px;
}

.page-head .container {
  border-bottom: 5px solid $brand-color;

  padding-top: 20px;
  padding-bottom: 20px;

  @include mq(x-large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.site-title {
  text-align:  center;

  @include mq(x-large) {
    text-align: left;
  }
}

.site-title__link {
  font-family: "Maven Pro";
  font-size: 35px;

  color: $text-dark--primary;
  text-decoration: none;

  transition: all 0.7s ease;
}

.site-title__link:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 20px $text-dark--primary;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  text-align: center;

  @include mq(x-large) {
    float: right;
  }
}

.site-nav__item {
  display: inline-block;;

  padding: 15px 15px 10px 15px;

  &:last-child {
    @include mq(x-large) {
      padding-right: 0;
    }
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: $text-dark--secondary;
  padding-bottom: 5px;
  
  transition: color .3s;
  transform: translateZ(0);

  &:hover {
    color: $brand-accent;
  }
}

.site-nav__link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50%;
  bottom: 0;
  left: 50%;

  height: 2px;

  background-color: $brand-accent;
  transition-property: left, right;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.site-nav__link:hover:after {
  right: 0;
  left: 0;
}
