header {
  position: relative;

  margin-bottom: 50px;
}

.page-head .container {
  border-bottom: 5px solid $brand-color;

  padding-top: 20px;
  padding-bottom: 20px;

  @include mq(x-large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.site-title {
  text-align:  center;

  @include mq(x-large) {
    text-align: left;
  }
}

.site-title__link {
  font-family: "Maven Pro";
  font-size: 35px;

  color: $text-dark--primary;
  text-decoration: none;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  text-align: center;

  @include mq(x-large) {
    float: right;
  }
}

.site-nav__item {
  display: inline-block;;

  padding: 15px 15px 10px 15px;

  &:last-child {
    @include mq(x-large) {
      padding-right: 0;
    }
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: $text-dark--secondary;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $brand-accent--dark;
    border-bottom-color: $brand-accent--dark;
  }
}
