i.icon {
  display: inline-block;
}

.icon--social {
  float: right;

  width: 50px;
  height: 50px;

  margin-left: 15px;
  
  background-repeat: no-repeat;
  background-position: center;

  transform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;

  &:hover {
    transform: scale(1.1);
  }
}


.icon--social.github {
  background-image: url("../img/foundation_icons/fi-social-github.svg");
}

.icon--social.medium {
  background-image: url("../img/foundation_icons/fi-social-medium.svg");
}

.icon--social.linkedin {
  background-image: url("../img/foundation_icons/fi-social-linkedin.svg"); 
}
