/* ------------------------------ *\
  #VARIABLES
\* ------------------------------ */

$aqua: #71c6cd;
$grey: #efefef;
$paper: #f9f9f9;
$white: #fff;
$black: #212121;

$body-color: $paper;

$font-color-default: $black;
$font-color-light: $white;

$font-size-default: 1em;
$font-weight-default: 400;
$font-weight-bold: 700;
$line-height-default: 1em;

$brand-color-primary: $aqua;
