/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.u-clearfix,
%u-clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Show/Hide
 */
.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}



/**
 * Utilties from Skeleton
 */
.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}
