---
layout: default
title: Serve Responsive Web
---

<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--left u-dark-green"></div>
  
  <div class="container">
    <!-- PROJECT OVERVIEW -->
    <div class="row u-rhythm-btm">
      <section class="project-overview twelve columns">
        <div class="header-group">
          <h1 class="header-text">Serve Responsive Web</h1>
        </div>
       
        <div class="content-box ten columns offset-by-one">
          <p class="body-copy">
            Redesigning the website using responsive design was a huge undertaking involving pretty much every team in our organization at American Express. However once the redesign was in place, overall development and design time decreased significantly. We consolidated the code base. So even though it was still a large and complex code base, at least we didn't have to maintain two entirely separate sets or markup, styles and scripts for a mobile site.
          </p>

          <p class="body-copy">
            While we embraced that ability to create a responsive design, we didn't get it perfect on day one. Day one was very much and MVP of responsive implementation that need to evolve, get leaner and cleaner over time. Below are some screens of the site and some of the key discoveries we made on our path from responsive MVP to responsive greatness.
          </p>
        </div>
      </section>
    </div>

    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">

        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--dash-serve.png" alt=""></div>
          <div><img src="/../../assets/img--dash-bluebird.png" alt=""></div>
          <div><img src="/../../assets/img--dash-redcard.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>Media Query Abstractions are your new best friend</b>
          <p class="body-copy">
            For <i>version control</i>, I've exclusively used Git. I was responsible for our team's code delivery into a TFS repository, but I didn't work in TFS from day to day.
          </p>
        </div>
      </div>
      
      <div class="ten columns offset-by-one u-rhythm-btm">
        <div class="six columns">
          <img class="art" src="/../../assets/img--mq.png" alt="">
        </div>

        <div class="six columns">
          <img class="art" src="/../../assets/img--nested-mq.png" alt="">
        </div>
        
        <b>Design mobile first or how to add, not subtract</b>
        <p class="body-copy">
          For <i>version control</i>, I've exclusively used Git. I was responsible for our team's code delivery into a TFS repository, but I didn't work in TFS from day to day.
        </p>
      </div>

      <div class="ten offset-by-one columns u-rhythm-btm">
        <div class="twelve columns">
          <img class="splash-photo" src="/../../assets/img--collab.png" alt="">
        </div>

        <b>Embrace the Uncertainty</b>
        <p class="body-copy">
          For <i>version control</i>, I've exclusively used Git. I was responsible for our team's code delivery into a TFS repository, but I didn't work in TFS from day to day.
        </p>
      </div>
    </div>

  </div>
</div>
