---
layout: default
title: Design Process
---

<!-- PROJECT HEADER -->
<header class="hero hero--color u-brand-primary">
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="header-group">
          <h1 class="header-text--primary">Design Process & Tools</h1>
        </div>

        <p class="body-copy has-left-pipe">
           I’m the only designer at Vroozi for 30+ developers. We’re constantly developing new features, integrating third party tools, fixing bugs and generally moving at breakneck speed to keep the platform expanding to meet the needs of our existing enterprise customers (NBC Universal, Northrup Grumman) as well as sign new deals.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- PROJECT OVERVIEW -->
<div class="hero has-crossing-bar">
  <div class="crossing-bar crossing-bar--right u-brand-primary"></div>

  <div class="container">
    <!-- Findings-->
    <div class="row">
      <div class="ten columns offset-by-one u-rhythm-btm">

        <div class="twelve columns u-vrhythm-sm">
          <img class="splash-photo" src="/../../assets/img--invision.png" alt="Everything lives in InVision">
        </div>

        <div class="twelve columns u-rhythm-btm">
          <b>From Static Comps to Prototypes</b>
          <p class="body-copy">
            If I accomplish anything at Vroozi, I hope it’s this: make the company realize that the era of handing off static photoshop comps is over. They’re usually ineffective at capturing the level of depth necessary to convey the design intent of complex web applications. While in my ideal world the design team would prototype in front-end code (like my previous team at American Express), I’ve found using <a href="https://www.invisionapp.com/">InVision</a> very useful in capturing my design ideas at a level of fidelity that ensures quality feedback from product stakeholders and quality build from the engineers. 
          </p>
          <p class="body-copy">
            I centralized design handoffs in InVision for a few reasons, but most importantly it serves as a single source of truth for complete designs. No more hunting down version X in so-and-so's email. If you need to reference that project, find it in InVision.
          </p>
        </div>

        <div class="twelve columns u-vrhythm-sm">
          <img class="splash-photo" src="/../../assets/img--trello.png" alt="Adjustable timelines mean Kanban board">
        </div>

        <div class="twelve columns u-rhythm-btm">
          <b>Creating Design Cadence & Communication</b>
          <p class="body-copy">
            I lead a few meetings to create a regular design cadence at Vroozi:
          </p>

          <ol>
            <li>
            <i>A weekly design planning meeting</i> where I meet with all the product owners to review, discuss and prioritize design support for their respective teams.
            </li>
            <li>
              <i>A weekly check-in with front-end development leads</i> to make sure design intent is being captured in the front-end code. Also to learn from them what design patterns are working, not working, what they’d like to see fixed etc… They’re on the front lines and working in our design tech every day, so they truly feel which patterns are strong and which need work.
            </li>
            <li>
              <i>A biweekly check-in with marketing and sales</i>. I’m focused on our product design, but we need to make sure that our design approach is as seamless as possible between external facing properties and the product itself.
            </li>
          </ol>

          <p class="body-copy">
            For workflow I settled on something Kanban-esque and use Trello to track design stories from backlog to release. When I meet with the product team I take a couple stories off the top of the backlog and work on them until I have bandwidth to take on something else or until priorities change. At this size company, it's tough to plan out longer term design efforts since priorities change too frequently and the appetite for multi-week or multi-month efforts is small. Using this Kanban board on Trello has allowed enough visibility into the state of design projects for my stakeholders to
          </p>
        </div>

        <div class="js-carousel twelve columns">
          <div><img src="/../../assets/img--icon-set.png" alt=""></div>
          <div><img src="/../../assets/img--email-templates.png" alt=""></div>
          <div><img src="/../../assets/img--report-templates.png" alt=""></div>
        </div>

        <div class="arrow-group twelve columns">
          <div class="carousel-arrow carousel-arrow--prev js-carousel--prev">
            {% include caret.html %}
          </div>
          <h2 class="carousel-nav__text">Change Slide</h2>
          <div class="carousel-arrow carousel-arrow--next js-carousel--next">
            {% include caret.html %}
          </div>
        </div>

        <div class="twelve columns">
          <b>Centralizing Libraries and Templates</b>
          <p class="body-copy">
            Design systems involve a lot of different pieces: from global type styles, to sectional layouts, to component interactions, to icon sets and email templates. Lots of distinct pieces go into making a web product feel unified and function as a whole. With so many projects happening simultaneously, having core reference points for design is crucial.
          </p>
          <p class="body-copy">
            At Vroozi, I centralized and streamlined our icon set and unified our email and report templates to ensure consistency. These design outputs can be especially tough to unify since they tend to live outside the main patterns of a site. Building them with Sketch Symbols allowed me to design as if I were coding and syncing them with InVision allows them to be an easy reference for anyone making design decisions at Vroozi.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
